{% extends 'base.html' %}

{% block title %}<title>Blog</title>{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">

      <!-- Post Content Column -->

      <div class="col-lg-8">

        <!-- Title -->

        <h1 class="mt-4">{{ posts.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ posts.author.get_full_name }}</a>

        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ posts.created_at|date:'d, M Y' }}</p>

        <hr>

        <!-- Preview Image -->
         <!-- Post Summary -->
        <h3>Resumo</h3>
        {{ posts.summary|safe }}
        <!--        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->

        <hr>
        <h4>Conteudo</h4>
         <!-- Post Content  -->
        {{ posts.content|safe }}
        <img src="{{ posts.imagem.url }}" alt="image-{{post.title}}" width="700px" />



        <hr>

      </div>


      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        {% include 'procura.html' %}

        <!-- Categories Widget -->
        {% include 'categorias.html' %}

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}