{% extends 'base.html' %}
{% block title %} Blog - Nova Postagem {% endblock title %}
{% block content %}
<div class="container justify-content-center">
        <div class="card" >
          <div class="card-header">
              <h1>Nova Postagem</h1>
          </div>
          <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Cadastrar" class="btn btn-primary">
                </form>
            </div>
     </div>S
</div>
{% endblock content %}