{% extends 'base.html' %}
{% block title %}Blog - Editar Postagem {% endblock title %}
{% load cloudinary %}
{% load widget_tweaks %}
{% block content %}

    <div class="row mt-3">
        <div class="col-lg-4 mx-auto mt-5">
            <h1>Criar Post</h1>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">

         {% csrf_token %}

         {% for error in form.non_field_errors %}
             <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}

        <div class="row">
            <div class="col-lg-4 mx-auto mb-5 mt-5">

                 <div class="form-group{% if form.texto.errors %} has-error {% endif %}">
                    <label for="{{ form.texto.auto_id }}"> {{ form.texto.label }}:</label>
                    {% render_field form.texto class="form-control form-control-sm" %}
                </div>
                 <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>

    </form>
{% endblock content %}