{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  {% block title %}<title>Blog Post - Genghiscode</title>{% endblock %}

  <!-- Bootstrap core CSS -->
 <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style>
		   .error{
				 color:red
		   }
</style>
<!-- 
<script>
     $("#pesquisa_form").validate({
    rules : {
          pesquisa: {
                  required: true,
                  minlength: 3,
                  maxlength: 50
              }
     },
    messages:{
          pesquisa:{
                  required:"Por favor, informe a palavra para pesquisa",
                  minlength:"O nome deve ter pelo menos 3 caracteres",
                  maxlength:"O nome deve ter no máximo 50 caracteres"
          }
     }
});
</script> 
-->

</head>

<body>
{% include 'nav_bar.html' %}

  <!-- Page Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  {% include 'footer.html' %}

<!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!--  <script src="{% static 'vendor/bootstrap/js/validacao.js' %}"></script>-->
  <script src="{% static 'vendor/bootstrap/js/search.js' %}"></script>

</body>

</html>