{% load static %}
<!-- Search Widget -->
<form id="pesquisa_form" method="post" action="{% url 'pesquisa' %}">
        {% csrf_token %}
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group{% if form.pesquisa.errors %} has-error {% endif %}">
              <input type="text" class="form-control" name="pesquisa" id="pesquisa" placeholder="Procurar for..." required="true">
                <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>
          </div>
        </div>
</form>